/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Source Code Pro Light";
    /*font-size: 0.781vw;*/ 
    font-size: 16px; 
    /*margin: 20px;*/

    margin-left: 10%; 
    margin-right: 10%; 
    box-sizing: border-box;
}

@media only screen and (min-width: 601px) {
body{
    margin-left: 27%!important; 
    margin-right: 27%!important; 
}
}
/*musica*/
@media only screen and (max-width: 600px) {
 .musica  {
	font-size: 1.1em; 
 }
 .musica-local {
    font-size: 1.3em;
 }
 .musica-youtube {
    font-size: 1.3em;
 }
}
/*libros*/
@media only screen and (max-width: 600px) {
 .libros  {
	font-size: 1.1em; 
 }
}

/*util*/
@media only screen and (max-width: 600px) {
 .util  {
	font-size: 1.1em; 
 }
}

/*linux*/
@media only screen and (max-width: 600px) {
 .linux  {
	font-size: 1.1em; 
 }
}
/*estudios*/
@media only screen and (max-width: 600px) {
 .noseya  {
	font-size: 1.1em; 
 }
}

@media only screen and (max-width: 600px) {
 .sobremi {
	font-size: 1.1em; 
 }
 #MICARA{
  display: block!important;
  margin-left: auto!important;
  margin-right: auto;
    height: 100%!important;
    width: 75%!important;

 opacity: 0.3;
 }
}
#about{
    padding-top: 1%;
}
#MICARA{
    position: absolute;
    z-index: -1;
    padding-top: 0%; 
    padding-left: 0%; 
    height: 80%;
    width: 46%;
    opacity: 0.3;
    border-radius: 5%;
}


@media only screen and (max-width: 600px) {
 .wallpap{
 display: grid;	
 justify-content: center;	 
  align-items: center;
    font-size: 1em;
 
}
.wallpap img {
 
   width: 100%!important;
    height: auto;
 }
}

#wallpapers img {
   /* height: 23%;
  */  
   width: 23%;
    height: auto;
   
    padding: 1%;
    cursor: pointer;
    transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
}

#wallpapers img:hover {
opacity: 0.3;
}
@media only screen and (max-width: 600px) {
 #title {
    margin-left: -10%!important; 
    margin-right: -10%!important; 
	 overflow: auto;
    white-space: nowrap;
    background-color: #0f1116!important;
    justify-content: space-evenly!important;
 } 
#title h4 {
    font-size: 5em;
 } 
 #logo {
 } 
 #logo-text {
    font-size: 5em;
 }
}
#title {
    font-size: 0.781vw;
    background-color: #0f1116;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    
}
#title h2 {
}
/*
#title img {
}
#title h2 {
	
    padding-right: 85%; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 7%;
   
}
*/
/*
#logo {

    margin-left: 00%!important; 
    margin-right: 100%!important; 
    margin-top: 10%!important; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 4%;
}
*/
#title h4 {
    margin-left: 20px;
}

#lineas_separar {
    color: red;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}

/*
#indice {
	
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

}
#indice a {
    margin-top: -30px;
}

*/
@media only screen and (max-width: 600px) {
 .principal{
	 
	font-size: 1.1em; 
 }

 .principal img {
 
   width: 10%;
    height: auto;
    padding: 0.003px;
 }
}
#rey {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center; 

}
#rey img {

    height: auto;
    width: 13%;
    border-radius: 50%; 
}

#Ec_prince {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}


#yamete {
  color: green;
}

 #yamete:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

 #yamete:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}
