/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Source Code Pro Light";
    /*font-size: 0.781vw;*/ 
    font-size: 14px; 
    /*margin: 20px;*/

    margin-left: 27%; 
    margin-right: 27%; 
    box-sizing: border-box;
}
/*musica*/
@media only screen and (max-width: 600px) {
 .musica  {
	font-size: 5px; 
 }
}
/*libros*/
@media only screen and (max-width: 600px) {
 .libros  {
	font-size: 5px; 
 }
}

/*util*/
@media only screen and (max-width: 600px) {
 .util  {
	font-size: 5px; 
 }
}

/*linux*/
@media only screen and (max-width: 600px) {
 .linux  {
	font-size: 5px; 
 }
}
/*estudios*/
@media only screen and (max-width: 600px) {
 .noseya  {
	font-size: 5px; 
 }
}

@media only screen and (max-width: 600px) {
 .sobremi {
	font-size: 5px; 
 }
}
#about{
    padding-top: 1%;
}
#about img {
    position: absolute;
    z-index: -1;
    padding-top: 1%; 
    padding-left: 3%; 
    height: auto;
    width: 23%;
}


@media only screen and (max-width: 600px) {
 .wallpap{
	justify-content: center;	 
    align-items: center;
	font-size: 4px; 
 
}
 .wallpap img {
 
   width: 10%;
    height: auto;
    padding: 0.003px;
 }
}
#wallpapers img {
   /* height: 23%;
  */  
   width: 23%;
    height: auto;
   
    padding: 1%;
    cursor: pointer;
    transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
}

#wallpapers img:hover {
opacity: 0.3;
}
@media only screen and (max-width: 600px) {
 .nav h2,h4{
 
    font-size 4px;
    margin-left: 0% !important; 
    margin-right: 0%!important; 
}
 .nav h4 {
 
    margin-left: 5px !important; 
 }
}
#title {
    
    font-size: 0.781vw!important;
    margin-left: -27% !important; 
    margin-right: -27%!important; 
    background-color: #0f1116;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    
}
#title img {

    padding-top: 0%;
    padding-right: 93%; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 4%;
}
#title h2 {
	
    padding-top: 10%;
    padding-right: 85%; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 7%;
   
    padding-bottom: 10%;
}
#title h4 {
    margin-left: 20px;
}

#lineas_separar {
    color: red;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}

/*
#indice {
	
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

}
#indice a {
    margin-top: -30px;
}

*/
@media only screen and (max-width: 600px) {
 .principal h1,ol{
	 
	font-size: 4px; 
 }

 .principal img {
 
   width: 10%;
    height: auto;
    padding: 0.003px;
 }
}
#rey {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center; 

}
#rey img {

    height: auto;
    width: 13%;
    border-radius: 50%; 
}

#Ec_prince {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}


#yamete {
  color: green;
}

 #yamete:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

 #yamete:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}
