/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: Iosevka NFM;
    font-size: 20px; 
    /*margin: 20px;*/
    margin-right: 192px;
    margin-left: 192px;

}

#wallpapers img {
    height: 23%;
    width: 23%;
    padding: 1%;
   
}

#title {
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #a8a8a8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#navbar {
    border: 1px solid rgb(233, 233, 233);
    border-width: 1px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

#navbar a {
    background-color: #a8a8a8;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 30px 10px 30px;
}
a#heart {
    background-color: white;
    color: red;
    padding: 5px;
    border-radius: 5px;
    
}
#lineas_separar {
    color: red;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}



#indice {
	
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

}

#indice a {
    margin-top: -30px;
}

#rey {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;


}
#rey img {

    height: 100px;
    width: 100px;
    border-radius: 50%; 
}

#Ec_prince {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}


#yamete {
  color: green;
}

 #yamete:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

 #yamete:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}
