/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Source Code Pro Light";
    /*font-size: 0.781vw;*/ 
    font-size: 14px; 
    /*margin: 20px;*/

    margin-left: 27%; 
    margin-right: 27%; 
}
#about{
    padding-top: 1%;
}
#about img {
    position: absolute;
    z-index: -1;
    padding-top: 1%; 
    padding-left: 10%; 
    height: auto;
    width: 30%;
}
#wallpapers img {
   /* height: 23%;
  */  
   width: 23%;
    height: auto;
   
    padding: 1%;
    cursor: pointer;
    transition: .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
}

#wallpapers img:hover {
opacity: 0.3;
}
#title {
    
    margin-left: -27% !important; 
    margin-right: -27%!important; 
    background-color: #0f1116;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position: sticky;
    top: 0;
    
}
#title img {

    padding-top: 0%;
    padding-right: 93%; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 4%;
}
#title h2 {
	
    padding-top: 10%;
    padding-right: 85%; 
    position: absolute;
    z-index: -1;
    height: auto;
    width: 7%;
   
    padding-bottom: 10%;
}
#title h4 {
    padding:10px;
}
#logo {
    
}
#logo-text {
}
#navbar {
    
	/*    
	border-width: -px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*gap: 10px;*/
	*/
}


#lineas_separar {
    color: red;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}



#indice {
	
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

}

#indice a {
    margin-top: -30px;
}

#rey {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center; 

}
#rey img {

    height: auto;
    width: 13%;
    border-radius: 50%; 
}

#rey img:hover {

      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#Ec_prince {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}


#yamete {
  color: green;
}

 #yamete:visited {
  color: #ffc161;
  background-color: transparent;
  text-decoration: none;
}

 #yamete:hover {
  color: #ffe245;
  background-color: transparent;
  text-decoration: none;
}
